<div class="js-product-card flex flex-col gap-[15px] group" data-product-id="{{ card_product.id }}">
  <a href="{{ card_product.url }}"class="rounded-[10px] border bg-white border-grey-5 flex relative p-[20px]">
    {% if card_product.compare_at_price != blank %}
      <div class="absolute z-10 border-red border rounded-full text-red py-[6.4px] px-[12.8px] gap-[12.8px] font-display text-tag text-center">
        On Sale!
      </div>
    {% endif %}
    <div class="relative flex flex-auto w-[275px] h-auto aspect-product-image items-center justify-center">
      {% for image in card_product.images %}
        {% assign lowercase_title = card_product.first_available_variant.title | downcase %}
        {% if image.alt contains card_product.first_available_variant.title or image.alt contains lowercase_title %}
          {% if image == card_product.first_available_variant.featured_image %}
            {{ image.src | image_url: width: 320 | image_tag: class: 'js-product-img js-featured-img opacity-100 absolute w-full h-auto aspect-product-image object-contain transition-opacity duration-300 group-hover:opacity-0' }}
          {% else %}
            {{ image.src | image_url: width: 320 | image_tag: class: 'js-product-img opacity-0 absolute w-full h-auto aspect-product-image object-contain transition-opacity duration-300 group-hover:opacity-100' }}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </a>
  <div class="flex flex-col items-start justify-start gap-[15px]">
    <div class="flex flex-row items-center justify-start gap-[5px]">
      {% for variant in card_product.variants %}
        {% assign variant_second_image = '' %}
        {% assign variant_second_image_alt = '' %}
        {% assign lowercase_title = variant.title | downcase %}
        {% for image in card_product.images %}
          {% if image.alt contains variant.title or image.alt contains lowercase_title %}
            {% unless image == variant.featured_image %}
              {% assign variant_second_image = image.src | image_url: width: 320 %}
              {% assign variant_second_image_alt = image.alt %}
              {% break %}
            {% endunless %}
          {% endif %}
        {% endfor %}
        {% if variant.metafields.custom.swatch != blank %}
          <button class="js-swatch cursor-pointer flex items-center justify-center relative{% if card_product.first_available_variant == variant %} selected{% endif %}" data-variant="{{ variant.title }}" data-featured-image="{{ variant.featured_image.src | image_url: width: 320 }}" data-featured-image-alt="{{ variant.featured_image.alt }}" data-secondary-image="{{ variant_second_image }}" data-secondary-image-alt="{{ variant_second_image_alt }}" onclick="updateProductCard(event)">
            <span class="w-[20px] h-[20px] flex items-center justify-center rounded-full aspect-square" style="background: {{ variant.metafields.custom.swatch.value }};"></span>
          </button>
        {% endif %}
      {% endfor %}
    </div>
    <a href="{{ card_product.url }}" class="gap-[6px] flex flex-col items-start justify-start">
      {% if card_product.vendor != blank %}
        <p class="text-body font-body text-black">{{ card_product.vendor }}</p>
      {% endif %}
      <h3 class="text-product-title font-body text-blue">{{ card_product.title }}</h3>
      <div class="flex gap-[8px] items-center justify-start">
        {% if card_product.compare_at_price != blank %}
          <p class="text-body font-display text-black line-through">{{ card_product.compare_at_price | money }}</p>
        {% endif %}
        <p class="text-body font-display{% if card_product.compare_at_price != blank %} text-red{% endif %}">{{ card_product.price | money }}</p>
      </div>
    </a>
  </div>
</div>